<connectionStrings>
  <add name="RMXSecurity" connectionString="Driver={SQL Server};Server=20.201.110.208;Database=RMACDR_Automation_SEC;UID=sa;PWD=csc1234$;"
    providerName="System.Data.SqlClient" />
  <add name="SessionDataSource" connectionString="Driver={SQL Server};Server=20.201.110.208;Database=RMACDR_Automation_SES;UID=sa;PWD=csc1234$;"
    providerName="System.Data.SqlClient" />
  <add name="ViewDataSource" connectionString="Driver={SQL Server};Server=20.201.110.208;Database=RMACDR_Automation_VIEW;UID=sa;PWD=csc1234$;"
    providerName="System.Data.SqlClient" />
  <add name="TaskManagerDataSource" connectionString="Driver={SQL Server};Server=20.201.110.208;Database=RMACDR_Automation_TM;UID=sa;PWD=csc1234$;"
    providerName="System.Data.SqlClient" />
  <add name="MDADataSource" connectionString="(MDA_CONNSTRING)"
    providerName="System.Data.SqlClient" />
  <add name="ReportServer_ConnectionString" connectionString="Driver={SQL Server};Server=20.201.110.208;Database=RMACDR_Automation_SM;UID=sa;PWD=csc1234$;"
    providerName="System.Data.SqlClient" />
  <add name="PabbloGC" connectionString="DSN=AMIC-PABBLO;UID=sysprogress;PWD=sysprogress;"
    providerName="System.Data.SqlClient" />
  <add name="PabbloWC" connectionString="DSN=AMIC-PABBLO;UID=sysprogress;PWD=sysprogress;"
    providerName="System.Data.SqlClient" />
  <add name="PabbloVA" connectionString="DSN=AMIC-PABBLO;UID=sysprogress;PWD=sysprogress;"
    providerName="System.Data.SqlClient" />
</connectionStrings>  