<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="firstExcelPath"  value="C:\\Users\\mgarg48\\OneDrive - DXC Production\\Documents\\23.2_API.xlsx" />
    <add key="secondExcelPath" value="C:\\Users\\mgarg48\\OneDrive - DXC Production\\Documents\\23.1_API.xlsx" />
  </appSettings>
</configuration>