<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
      <add name="connectionString" providerName="System.Data.sqlclient" connectionString="Data Source=database_engine_name;Initial Catalog=master;User ID=database_engine_username;Password=database_engine_password" />
    </connectionStrings>

  <appSettings>
    <!--The license context used-->
    <add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
    <!--<add key="testCaseName" value="CreateDiary|Event|GCCarrier|GeneralClaim_EnhNotes|GeneralClaim_Pay|Maintenance|Maintenance_Employee|Maintenance_Entity|Search|Utilities|WCAutoCheck" />-->
    <add key="testCaseName" value="Maintenance_Entity" />
    <add key="procName" value="CommonProcedure|LoadTraceFileToTable" />
    <add key="sqlProfilerPath" value="C:\ProgramData\Microsoft\Windows\Start Menu\Programs\Microsoft SQL Server Tools 17\Performance Tools" />
    <add key="profilername" value="SQL Server Profiler 17.lnk" />
    <add key="sqlServerName" value="database_engine_name" />
    <add key="sqlUserName" value="database_engine_username" />
    <add key="sqlPwd" value="database_engine_password" />
    <add key="sqltemplateName" value="AutoRegSQL" />
    <add key="minutesfrTCScript" value="4" />
    <add key="reportType" value="2" />  <!--1 (for Unique queries)  2 (for duplicate query occurences)-->
 
  </appSettings>


</configuration>
